@model ASYNC_front.Models.Test

<!DOCTYPE html>

<head>
  <title>Hotel</title>
</head>

<body>
    <p>TEST</p>
    <form  method="post">

            <label asp-for="Name"></label>
            <input asp-for="Name" type="text">
            <label>Types</label>
            <input name="types" type="text">
 
        <button type="submit">Submit</button>
    </form>

</body>